{
  "openapi": "3.0.1",
  "info": {
    "title": "Microsoft Graph - Outlook (delegated /me)",
    "version": "1.0.0",
    "description": "Minimal read-only Graph slice exposed as MCP tools via AgentCore Gateway. Every path is /me/*, so data is scoped to the signed-in Kiro user by the delegated OBO token. Add /me/sendMail and switch scopes to Mail.Send only when a send tool is in scope."
  },
  "servers": [
    { "url": "https://graph.microsoft.com/v1.0" }
  ],
  "paths": {
    "/me/messages": {
      "get": {
        "operationId": "list_my_messages",
        "summary": "List the signed-in user's Outlook messages",
        "parameters": [
          { "name": "$top", "in": "query", "schema": { "type": "integer", "default": 10 }, "description": "Page size (max 1000)." },
          { "name": "$select", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated fields, e.g. subject,from,receivedDateTime,bodyPreview." },
          { "name": "$search", "in": "query", "schema": { "type": "string" }, "description": "KQL search over the mailbox, e.g. \"\\\"invoice\\\"\"." },
          { "name": "$filter", "in": "query", "schema": { "type": "string" }, "description": "OData filter, e.g. isRead eq false." },
          { "name": "$orderby", "in": "query", "schema": { "type": "string" }, "description": "e.g. receivedDateTime desc." }
        ],
        "responses": {
          "200": { "description": "A page of messages.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageCollection" } } } }
        }
      }
    },
    "/me/mailFolders/inbox/messages": {
      "get": {
        "operationId": "list_inbox_messages",
        "summary": "List messages in the Inbox folder",
        "parameters": [
          { "name": "$top", "in": "query", "schema": { "type": "integer", "default": 10 } },
          { "name": "$select", "in": "query", "schema": { "type": "string" } },
          { "name": "$filter", "in": "query", "schema": { "type": "string" } },
          { "name": "$orderby", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "A page of inbox messages.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageCollection" } } } }
        }
      }
    },
    "/me/messages/{message_id}": {
      "get": {
        "operationId": "get_message",
        "summary": "Read one message by id",
        "parameters": [
          { "name": "message_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "$select", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "The message.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Message" } } } }
        }
      }
    },
    "/me/calendarView": {
      "get": {
        "operationId": "list_calendar_view",
        "summary": "List calendar events in a time window",
        "parameters": [
          { "name": "startDateTime", "in": "query", "required": true, "schema": { "type": "string" }, "description": "ISO 8601, e.g. 2026-09-18T00:00:00Z." },
          { "name": "endDateTime", "in": "query", "required": true, "schema": { "type": "string" }, "description": "ISO 8601, e.g. 2026-09-25T00:00:00Z." },
          { "name": "$top", "in": "query", "schema": { "type": "integer", "default": 25 } },
          { "name": "$select", "in": "query", "schema": { "type": "string" }, "description": "e.g. subject,start,end,organizer,location." },
          { "name": "$orderby", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Events in the window.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EventCollection" } } } }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "get_my_profile",
        "summary": "Get the signed-in user's profile (User.Read)",
        "responses": {
          "200": { "description": "The user profile.", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MessageCollection": {
        "type": "object",
        "properties": {
          "value": { "type": "array", "items": { "$ref": "#/components/schemas/Message" } }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "subject": { "type": "string" },
          "bodyPreview": { "type": "string" },
          "receivedDateTime": { "type": "string" },
          "isRead": { "type": "boolean" },
          "from": { "type": "object" },
          "toRecipients": { "type": "array", "items": { "type": "object" } }
        }
      },
      "EventCollection": {
        "type": "object",
        "properties": {
          "value": { "type": "array", "items": { "$ref": "#/components/schemas/Event" } }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "subject": { "type": "string" },
          "start": { "type": "object" },
          "end": { "type": "object" },
          "organizer": { "type": "object" },
          "location": { "type": "object" }
        }
      }
    }
  }
}
